drone-tracking-datasets/
.venv/
__pycache__/
.vscode/
plots/*.json

detections.csv

logs/

*.npz
*.mp4
*.webm

# all Latex development files
*.aux
*.fls
*.log
*.out
*.fdb_latexmk
*.synctex.gz
*.toc
*.nav
*.snm
*.synctex(busy)