drone-tracking-datasets/
.venv/
__pycache__/
.vscode/
plots/

detections.csv

logs/

*.npz
*.mp4

# all Latex development files
*.aux
*.fls
*.log
*.out
*.fdb_latexmk
*.synctex.gz
*.toc
*.nav
*.snm
*.synctex(busy)